<div [@routerTransition]>

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Currency Setup' | localize" [description]="'Setup' | localize">
            <div role="actions">
                <div class="btn-group" dropdown>

                </div>



                    <div *ngIf="'Pages.CurrencySetUp.Create'| permission">
                <button     (click)="showEditModal(currencydto)"  flex="15" class="btn btn-primary"><i class="fa fa-plus"></i>
                    {{ "Create New" | localize }}
                    </button>
            </div>
            </div>
        </sub-header>

        <div [class]="containerClass ">
            <div class="card card-custom ">
                <div class="card-body">

                    <br>
                    <div class="col-md-12 mt-0 text-right">
                        <div class="btn-group" >
                            <button  type="button" class="btn btn-outline-secondary mr-1"
                            style="border-color: green; border-width: 2px; color:green"
                                  aria-expanded="false" (click)="frontEndExcelExport()">
                                <i class="far fa-file-excel" style="color:green ;"></i> {{"ExportToExcel" | localize}}
                            </button>

                        </div>
                    </div>
                    <br>


                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                      <d iv class="primeng-datatable-container"
                          [busyIf]="primengTableHelper.isLoading">

                          <p-table #dataTable
                          [value]="primengTableHelper.records"

   rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="true"
   [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [lazy]="false" [rowHover]="true"
   sortMode="multiple" [scrollable]="true"
   scrollWidth="400px" scrollHeight="400px" scrollDirection="both" [responsive]="primengTableHelper.isResponsive"
   [resizableColumns]="primengTableHelper.resizableColumns"
   [globalFilterFields]="['currencyName','currencyCode']" id="excel-table">
   <ng-template pTemplate="caption">
    <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="30" placeholder="Search Keyword"
        style="width:auto" (input)="dataTable.filterGlobal($event.target.value, 'contains')">
    </div>
</ng-template>


                              <ng-template pTemplate="header">
                                  <tr>
                                      <!-- <th style="width:75px"></th> -->
                                      <th style="width: 100px" *ngIf="('Pages.CurrencySetUp.Edit'| permission)&& ('Pages.CurrencySetUp.Deactivate'| permission)">
                                        {{'Actions' | localize}}
                                    </th>
                                    <th style="width: 100px" pSortableColumn="currencyName">{{"Currency Name"|localize}} <p-sortIcon field="currencyName"></p-sortIcon></th>
                                    <th style="width: 100px" pSortableColumn="currencyCode">{{"Currency Code"|localize}} <p-sortIcon field="currencyCode"></p-sortIcon></th>
                                    <th style="width: 100px" pSortableColumn="active">{{"Status"|localize}} <p-sortIcon field="active"></p-sortIcon></th>


                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-record="$implicit">
                                   <tr>

                                        <td style="width: 100px" *ngIf="('Pages.CurrencySetUp.Edit'| permission)&& ('Pages.CurrencySetUp.Deactivate'| permission)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                                {{"Actions" | localize}}
                                            </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="(record.active=='Inactive') && ('Pages.CurrencySetUp.Deactivate'  | permission) ">
                                                        <a href="javascript:;" (click)="activate(record)">{{'Activate' | localize}}</a>
                                                    </li>
                                                    <li *ngIf="'Pages.CurrencySetUp.Edit'| permission" >
                                                        <a href="javascript:;" (click)="showEditModal(record)">{{'Edit' | localize}}</a>
                                                    </li>
                                                    <li *ngIf="record.active=='Active' && 'Pages.CurrencySetUp.Deactivate'  | permission">
                                                        <a href="javascript:;" (click)="delete(record)">{{'Deactivate' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                          <td style="width: 100px">

                                              {{record.currencyName}}
                                          </td>
                                          <td style="width: 100px">

                                            {{record.currencyCode}}
                                        </td>
                                     <td style="width: 100px">

                                            {{record.active}}
                                        </td>

                                          <!-- <td  style="width: 130px">
                                              <div class="btn-group dropdown" dropdown container="body">
                                                  <button type="button" class="btn " (click)="edit(record)"><i class="fas fa-edit"></i></button>


                                              </div>

                                          </td> -->
                                   </tr>
                              </ng-template>
                          </p-table>

                              <!-- <div class="primeng-paging-container">
                                  <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                      #paginatorAuditLogs (onPageChange)="loadcurrency()"
                                      [totalRecords]="primengTableHelper.totalRecordsCount"
                                      [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                  </p-paginator>

                              </div> -->
                      </d>
                        <!--<Primeng-TurboTable-End>-->

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<currencyModal #currencyModal></currencyModal>
