<div [@routerTransition]>

    <div   class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'User Category Setup' | localize" [description]="'Setup' | localize">
            <div role="actions" *ngIf="'Pages.UserCategorySetUp.Create'| permission">
                <div class="btn-group" dropdown>

                </div>
                <button (click)="add(usercategory)"  flex="15" class="btn btn-primary"><i class="fa fa-plus"></i>
                    {{ "Create New" | localize }}
                    </button>
            </div>
        </sub-header>

        <div [class]="containerClass ">
            <div class="card card-custom">
                <div class="card-body">
                    <br>
                    <div class="col-md-12 mt-0 text-right">
                        <div class="btn-group" >
                            <button  type="button" class="btn btn-outline-secondary mr-1"
                            style="border-color: green; border-width: 2px; color:green"
                                  aria-expanded="false" (click)="frontEndExcelExport()">
                                <i class="far fa-file-excel" style="color:green ;"></i> {{"ExportToExcel" | localize}}
                            </button>

                        </div>
                    </div>
                    <br>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                  <div class="primeng-datatable-container"
                      [busyIf]="primengTableHelper.isLoading">

                      <p-table #dataTable
                      [value]="primengTableHelper.records"

   rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [lazy]="false" [rowHover]="true" sortMode="multiple" [scrollable]="true"
   scrollWidth="100%" scrollHeight="400px" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns"
                      [globalFilterFields]="['Description','CategoryId']" id="excel-table">

                      <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Search keyword" style="width:auto" (input)="dataTable.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </ng-template>
                          <ng-template pTemplate="header">
                              <tr>

                                  <th  style="width: 100px" *ngIf="('Pages.UserCategorySetUp.Edit'| permission)&&('Pages.UserCategorySetUp.Delete'| permission)">
                                    {{'Actions' | localize}}
                                </th>
                                 <th style="width: 100px" pSortableColumn="description">{{"Description"|localize}} <p-sortIcon field="description"></p-sortIcon></th>

                                <!-- <th style="width: 100px" pSortableColumn="categoryId">{{"CategoryId"|localize}} <p-sortIcon field="categoryId"></p-sortIcon></th> -->

                                <th style="width: 100px" pSortableColumn="userName">{{"CreatedBy"|localize}} <p-sortIcon field="userName"></p-sortIcon></th>
                                <th style="width: 100px" pSortableColumn="creationTime">{{"Creation Date"|localize}} <p-sortIcon field="creationTime"></p-sortIcon></th>

                                <th style="width: 100px" pSortableColumn="userName">{{"Modified By"|localize}} <p-sortIcon field="modifiedBy"></p-sortIcon></th>
                                <th style="width: 100px" pSortableColumn="creationTime">{{"Modified Date"|localize}} <p-sortIcon field="modifiedDate"></p-sortIcon></th>
                                 <th style="width: 100px" pSortableColumn="active">{{"Status"|localize}} <p-sortIcon field="active"></p-sortIcon></th>

                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-record="$implicit">
                               <tr>
                                    <td style="width: 100px" *ngIf="('Pages.UserCategorySetUp.Edit'| permission)&&('Pages.UserCategorySetUp.Delete'| permission)">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                            {{"Actions" | localize}}
                                        </button>
                                            <ul class="dropdown-menu" *dropdownMenu>

                                                <li *ngIf="'Pages.UserCategorySetUp.Edit'| permission">
                                                    <a href="javascript:;" (click)="add(record)">{{'Edit' | localize}}</a>
                                                </li>
                                                <li *ngIf="!record.status && 'Pages.UserCategorySetUp.Delete'| permission">
                                                    <a href="javascript:;" (click)="activate(record, true)">{{'Activate' | localize}}</a>
                                                </li>
                                                <li *ngIf="record.status && 'Pages.UserCategorySetUp.Delete'| permission">
                                                    <a href="javascript:;" (click)="activate(record,false)">{{'Deactivate' | localize}}</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>
                                      <td style="width: 100px">

                                          {{record.description}}
                                      </td>

                                      <!-- <td style="width: 100px">
                                        <span class="ui-column-title"> {{'CategoryId' | localize}}</span>
                                        {{record.categoryId}}
                                    </td> -->
                                    <td style="width: 100px">

                                     {{record.createdBy}}
                                     <!-- {{" - "}}   {{record.accountName}} -->
                                    </td>

                                      <td style="width: 100px">

                                              <span>{{record.creationDate  |  luxonFormat:'yyyy-LL-dd HH:mm:ss' }}</span>

                                        </td>
                                        <td style="width: 100px">

                                         {{record.modifiedBy}}

                                        </td>


                                        <td style="width: 100px">

                                           <span>{{record.modifiedDate  |  luxonFormat:'yyyy-LL-dd HH:mm:ss'}}</span>
                                        </td>



                                   <td style="width: 100px">

                                        {{record.status}}
                                    </td>
                               </tr>
                          </ng-template>
                      </p-table>


                  </div>
                    <!--<Primeng-TurboTable-End>-->

                </div>

            </div>
        </div>
    </div>

</div>

</div>
<userCategorysModal #userCategorysModal></userCategorysModal>
