

<div [@routerTransition] >

    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header title="Bank Setup" *ngIf="'Pages.BankSetUp.Create'| permission">
            <div role="actions">
                <!-- <button (click)="createOrEditBank()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("New Bank")}}</button> -->

                <app-erms-button
                [title]="'Create New' | localize"
                (click)="createOrEditBank()"
                type="add"
            ></app-erms-button>

            </div>
        </sub-header>


        <div [class]="containerClass">
            <div class="card card-custom">
                <div class="card-body" [busyIf]="primengTableHelper.isLoading">
                    <br>
                    <div class="col-md-12 mt-0 text-right">
                        <div class="btn-group" >
                            <button  type="button" class="btn btn-outline-secondary mr-1"
                            style="border-color: green; border-width: 2px; color:green"
                                  aria-expanded="false" (click)="frontEndExcelExport()">
                                <i class="far fa-file-excel" style="color:green ;"></i> {{"ExportToExcel" | localize}}
                            </button>

                        </div>
                    </div>
                    <br>


                                <div class="row align-items-center">
                                    <!--<Primeng-TurboTable-Start>-->
                                <div class="primeng-datatable-container"
                                    [busyIf]="primengTableHelper.isLoading">

                                    <p-table #dataTable
                                    [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                    [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [lazy]="false" [rowHover]="true"
                                     sortMode="multiple" [scrollable]="true" scrollWidth="100%" scrollHeight="400px"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns"
                                    [globalFilterFields]="['bankName','bankCode','isActive','createdBy','creationDate','modifiedBy','modifiedDate']" id="excel-table">

                                    <ng-template pTemplate="caption">
                                        <div style="text-align: right">
                                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="30" placeholder="Search Keyword"
                                            style="width:auto" (input)="dataTable.filterGlobal($event.target.value, 'contains')">
                                        </div>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 150px" *ngIf="'Pages.BankSetUp.Edit'| permission">{{l('Actions')}}</th>

                                            <th style="width: 150px" pSortableColumn="bankName">
                                                {{l('Bank Name')}}
                                                <p-sortIcon field="bankName"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="bankCode">
                                                {{l('Bank Code')}}
                                                <p-sortIcon field="bankCode"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="isActive">
                                                {{l('Status')}}
                                                <p-sortIcon field="isActive"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="createdBy">
                                                {{l('Creator')}}
                                                <p-sortIcon field="createdBy"></p-sortIcon>
                                            </th>
                                            <th style="width: 200px" pSortableColumn="creationDate">
                                                {{l('Date Created')}}
                                                <p-sortIcon field="creationDate"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="modifiedBy">
                                                {{l('Last Modified By')}}
                                                <p-sortIcon field="modifiedBy"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="modifiedDate">
                                                {{l('Last Modification')}}
                                                <p-sortIcon field="modifiedDate"></p-sortIcon>
                                            </th>
                                          </tr>


                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                            <td style="width: 150px" *ngIf="'Pages.BankSetUp.Edit'| permission"
                                               >
                                               <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                    </button>
                                                        <ul class="dropdown-menu"  *dropdownMenu>

                                                        <li  *ngIf="'Pages.BankSetUp.Edit'| permission">
                                                        <a href="javascript:;"  (click)="bankCreateAndEdit.show(record.id)"
                                                                >{{l('Edit')}}</a>
                                                        </li>
                                                        <br>

                                                    </ul>
                                                </div>
                                            </td>

                                            <td style="width:150px">

                                                {{record.bankName}}
                                            </td>
                                           <td style="width:150px">

                                                {{record.bankCode}}
                                            </td>


                                            <td style="width: 150px">

                                                <span class="label label-success label-inline"
                                                    *ngIf="record.isActive">{{'Active' | localize}}</span>
                                                <span class="label label-danger label-inline"
                                                    *ngIf="!record.isActive">{{'Inactive' | localize}}</span>
                                            </td>

                                            <td style="width:150px">

                                                {{record.createdBy}}
                                            </td>
                                           <td style="width:200px">

                                                {{record.creationDate | luxonFormat:'F'}}
                                            </td>
                                            <td style="width:150px">

                                                {{record.modifiedBy}}
                                            </td>
                                           <td style="width:150px">

                                                {{record.modifiedDate | luxonFormat:'F'}}
                                            </td>
                                    </tr>
                                      </ng-template>
                                     </p-table>


                                </div>
                                    <!--<Primeng-TurboTable-End>-->

                                </div>

            </div>
        </div>



    </div>
    <bankCreateAndEdit #bankCreateAndEdit (modalSave)="loadBanks()"></bankCreateAndEdit>

</div>



