<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close icon-2x"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("ProviderName")}} :</h6>
                        {{ item.paymentProvider.providerName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("postingkey")}} :</h6>
                        {{ item.paymentProvider.postingkey }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CommissionRates")}} :</h6>
                        {{ item.paymentProvider.commissionRates }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PaymentRate")}} :</h6>
                        {{ item.paymentProvider.paymentRate }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Default")}} :</h6>
                        <div *ngIf="item.paymentProvider.default" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.paymentProvider.default" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("ImageUrl")}} :</h6>
                        {{ item.paymentProvider.imageUrl }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
