<div
    bsModal    
    #cadModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cash Advance Payment for  {{ refNo }}</h5>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    [attr.aria-label]="l('Close')"
                >
                    <i aria-hidden="true" class="ki ki-close icon-2x"></i>
                </button>
            </div>
            <div class="modal-body" [busyIf]="saving">
                
                   
                        <div  >                            
                                   
                                    <div class="col-md-12">
                                      
                                        <form #capaymentForm="ngForm">
                                            <div class="row align-items-center mb-2">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="SampleDatePicker">{{
                                                            "Date" | localize
                                                        }}</label>
        
                                                        <div class="input-group">
                                                            <input
                                                                id="SampleDatePicker1"
                                                                [(ngModel)]="startdate"
                                                                type="text"
                                                                required
                                                                name="SampleDatePicker1"
                                                                placeholder="Select Date"
                                                                class="form-control rounded"
                                                                bsDatepicker
                                                                #ed="bsDatepicker"
                                                                datePickerMomentModifier
                                                                [(date)]="startdate"
                                                                [minDate]="mindate"
                                                                [bsConfig]="{
                                                                    adaptivePosition: true
                                                                }"
                                                                [bsValue]="startdate"
                                                            />
                                                            <div
                                                                class="input-group-append"
                                                            >
                                                                <button
                                                                    class="input-group-append btn btn-outline-secondary"
                                                                    (click)="
                                                                        ed.toggle()
                                                                    "
                                                                    type="button"
                                                                >
                                                                    <i
                                                                        class="fa fa-calendar"
                                                                    ></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label
                                                            class="small mb-1"
                                                            for="inputFirstName"
                                                            >Payment Mode</label
                                                        >
        
                                                        <ng-select
                                                            [(ngModel)]="
                                                                capayment.pModeId
                                                            "
                                                            name="paymentmode"
                                                            required
                                                        >
                                                            <ng-option
                                                                *ngFor="
                                                                    let itemxx of paymentmode
                                                                "
                                                                [value]="itemxx.id"
                                                            >
                                                                {{
                                                                    itemxx.description
                                                                }}</ng-option
                                                            >
                                                        </ng-select>
                                                    </div>
                                                </div>
        
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label
                                                            class="small mb-1"
                                                            for="inputFirstName"
                                                            >Currency</label
                                                        >
        
                                                        <ng-select
                                                            [(ngModel)]="
                                                                capayment.currency
                                                            "
                                                            name="currency"
                                                            (change)="getCurrencyId()"
                                                            required
                                                            disabled
                                                        >
                                                            <ng-option
                                                                *ngFor="
                                                                    let itemvalue of currencyList
                                                                "
                                                                [value]="
                                                                    itemvalue.currencyCode
                                                                "
                                                            >
                                                                {{
                                                                    itemvalue.currencyCode
                                                                }}</ng-option
                                                            >
                                                        </ng-select>
                                                    </div>
                                                </div>
        
                                                <div
                                                    class="col-md-6"
                                                    *ngIf="!isCardTransaction"
                                                >
                                                    <div class="form-group">
                                                        <label
                                                            class="small mb-1"
                                                            for="inputFirstName"
                                                            >Account to Debit</label
                                                        >
                                                        <ng-select
                                                            [(ngModel)]="
                                                                capayment.debitGL
                                                            "
                                                            name="debitGL"
                                                            required
                                                            (change)="
                                                                checkDebitGLSelected()
                                                            "
                                                            [disabled]="
                                                                isCardTransaction
                                                            "
                                                        >
                                                            <ng-option
                                                                *ngFor="
                                                                    let itemdet of cashAdvanceList
                                                                "
                                                                [value]="
                                                                    itemdet.accountCode
                                                                "
                                                            >
                                                                {{
                                                                    itemdet.accountName
                                                                }}-
                                                                {{
                                                                    itemdet.accountCode
                                                                }}</ng-option
                                                            >
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-6"
                                                    *ngIf="!isCardTransaction"
                                                >
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label class="small mb-1 text-start"
                                                            for="inputFirstName"
                                                            >Account to Credit</label> 
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="small mb-1 text-end">{{"Balance: "}}{{accountBalance |  number:'1.2-5'}}</label>
                                                            </div>

                                                        </div>
                                                        
                                                            
                                                        <ng-select
                                                            [(ngModel)]="
                                                                capayment.creditGL
                                                            "
                                                            name="creditGL"
                                                            required
                                                            (change)="
                                                                checkCreditGLSelected()
                                                            "
                                                        >
                                                            <ng-option
                                                                *ngFor="
                                                                    let itemchar of defchartOfAcct
                                                                "
                                                                [value]="
                                                                    itemchar.accountCode
                                                                "
                                                            >
                                                                {{
                                                                    itemchar.accountName
                                                                }}-
                                                                {{
                                                                    itemchar.accountCode
                                                                }}</ng-option
                                                            >
                                                        </ng-select>
                                                        
                                                    </div>
                                                </div>
        
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="small mb-1"
                                                            >Amount</label
                                                        >
                                                        <br />

                                                        {{totalAmount | number:'1.2-5' }}
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="small mb-1"
                                                            >Narration</label
                                                        >
                                                        <br />
                                                        {{ reqNarration }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group text-center">
                                                        <label class="small mb-1">Beneficiaries</label>
                                                        <br/>
                                                        <a href="javascript:;" title="View beneficiaries"   (click)="viewBeneficiary()">
                                                            <i class="fas fa-info"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group text-center">
                                                        <label class="small mb-1"
                                                            >Attached Document</label
                                                        >
                                                        <br />
                                                    <span class="ïnput-group">
                                                        <a
                                                            href="javascript:;"
                                                            (click)="
                                                                ShowAttachFileDocument(
                                                                    '',
                                                                    19
                                                                )
                                                            "
                                                            title="View supporting documents"
                                                        >
                                                            <i
                                                                class="fa fa-download"
                                                            ></i>
                                                        </a>
                                                        <span class="badge badge-light">{{supportingDocumentCount}}</span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
        
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                <label>{{
                                                    "Ledger Remarks" | localize
                                                }}</label>
                                                <textarea
                                                    class="form-control rounded"
                                                    [(ngModel)]="capayment.ledgerRemark"
                                                    name="remark"
                                                    placeholder="{{
                                                        'Remarks' | localize
                                                    }}"
                                                    required
                                                    appInputSanitzation
                                                ></textarea>
                                            </div>
        
                                            <div class="col-md-6">
                                                <label>{{
                                                    "Beneficiary Remarks" | localize
                                                }}</label>
                                                <textarea
                                                    class="form-control rounded"
                                                    [(ngModel)]="BenRemark"
                                                    name="remarkbeneciary"
                                                    placeholder="{{
                                                        'Remarks' | localize
                                                    }}"
                                                    required                                                    
                                                    appInputSanitzation>
                                                </textarea>
                                            </div>
                                        </div>
        
                                        <div class="row form-group">
                                            <div class="col-md-8">
                                                <label>{{ "Remark" | localize }}</label>
                                                <textarea
                                                    class="form-control rounded"
                                                    required
                                                    [(ngModel)]="capayment.remark"
                                                    name="remark"
                                                    
                                                    placeholder="{{
                                                        'Remarks' | localize
                                                    }}"
                                                    appInputSanitzation
                                                >
                                                </textarea>
                                            </div>
                                            <!-- <div class="col-md-4 text-right">
                                            <p></p>
                                            <button type="submit" class="btn btn-primary" [disabled]="!capaymentForm.form.valid" (click)="save(capaymentForm);"
                                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                                            <span>{{"Initiate Payment" | localize}}</span></button>
                                        </div> -->
                                        </div>
                                    </div>
                              
        
                            <ng-template #template>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">
                                        Reason for Decline
                                    </h4>
                                    <button
                                        type="button"
                                        class="close pull-right"
                                        aria-label="Close"
                                        (click)="modalRef.hide()"
                                    >
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <textarea
                                            class="form-control rounded"
                                            name="reqNarration"
                                            [(ngModel)]="DeclineComment"
                                            placeholder="{{ 'Comments' | localize }}"
                                            pattern="[a-zA-Z0-9 ]*" appInputSanitzation
                                        >
                                        </textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-12 text-right">
                                        <button
                                            type="submit"
                                            [disabled]="DeclineComment == null"
                                            flex="15"
                                            class="btn btn-primary"
                                            (click)="deleterequest()"
                                        >
                                            {{ "Continue" | localize }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
        
                            <div class="modal-footer">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    (click)="createquery()"
                                    [buttonBusy]="saving"
                                    [disabled]="refNo == null"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <span
                                        ><i class="fas fa-comments"></i
                                        >{{ "Query" | localize }}</span
                                    >
                                </button>
        
                                <!-- <button  type="submit" class="btn btn-decline" (click)="deleterequest()" [buttonBusy]="saving"
                                        [disabled]="refNo==null"
                                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                                        <span>{{ "Decline" | localize }}</span></button> -->
                                <button
                                    type="submit"
                                    class="btn btn-decline"
                                    (click)="openModal(template)"
                                    [buttonBusy]="saving"
                                    [disabled]="refNo == null"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <i class="fa fa-save"></i>
                                    <span>{{ "Decline" | localize }}</span>
                                </button>
                                <!-- <button *ngIf="refNo" type="submit" class="btn btn-primary"  (click)="declinersn();" >Decline?</button>
                                            <textarea *ngIf="declinereason" class="form-control rounded" required [(ngModel)]="dReason"
                                            name="remark" placeholder="{{'Reason for Decline' | localize}}" > </textarea>
                                            <button *ngIf="declinereason" type="submit" class="btn btn-primary"  (click)="decline(capaymentForm);" >Decline</button>
                                             -->
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    (click)="preview()"
                                    [buttonBusy]="saving"
                                    [disabled]="
                                        capayment.debitGL == null ||
                                        capayment.currency == null ||
                                        capayment.creditGL == null
                                    "
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <i class="fa fa-save"></i>
                                    <span>{{ "Preview Entries" | localize }}</span>
                                </button>
                                

                                <button *ngIf="capayment.pModeId===1"
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="!capaymentForm.form.valid"
                                    (click)="save(capaymentForm)"
                                    [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <i class="fa fa-save"></i>
                                    <span >{{ "Initiate Payment" | localize }}</span>
                                   
                                </button>

                                <button *ngIf="capayment.pModeId!==1"
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="!capaymentForm.form.valid"
                                    (click)="save(capaymentForm)"
                                    [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <i class="fa fa-save"></i>
                                    <span>{{ "Initiate GL Entries" | localize }}</span>
                                   
                                </button>

                                
                            </div>
                        </div>
                    
               
            </div>
        </div>
    </div>
</div>

<cashadvanceWorkflowTrailModal
    #cashadvanceWorkflowTrailModal
></cashadvanceWorkflowTrailModal>
<postdetails #postdetails></postdetails>
<Opexquerymodal #opexquerymodal></Opexquerymodal>
<viewbeneficiarytransactionaccounts #viewbeneficiary></viewbeneficiarytransactionaccounts>
<appfileupload #fileUpload></appfileupload>